<!DOCTYPE html>
<html>
<head>
  <title>Map</title>
  <script src="//api-maps.yandex.ru/2.1-dev/?lang=ru_RU" type="text/javascript"></script>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
